<!doctype html>
<html>
<head>
	<center>
		<img src="http://sphotos-c.ak.fbcdn.net/hphotos-ak-ash3/524844_10151314617346218_532075811_n.jpg"/>
	</center>
</head>

<body>
</body>

<!--Start footer-->
<footer>
</footer>
</div>  <!-- end container-fluid -->
</html>


<!-- 
<h2>Sign In</h2>
<div class="login">
  <%= form_tag(:action => 'attempt_login') do %>
  <table>
    <tr>
      <td><%= label_tag(:email) %></td>
      <td><%= text_field_tag(:email) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:password) %></td>
      <td><%= password_field_tag(:password) %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Log In") %></td>
    </tr>
  </table>
  <% end %>
</div>
 <%= link_to("Sign Up", :action => 'register') %>  -->