

<div class="span4 offset4 well"> 
	<h2>Change Password</h2>
	<%=form_for(:user, :url => {:action => 'updatePassword', :id => @user.id}, :html => {:class => 'form-horizontal'}) do |f| %>
	<%=error_messages_for(@user) %>
	<%= link_to("Looking to make changes to your profile?", :controller => 'settings', :action => 'settingspage', :user_id => session[:user_id], :class => 'changepassword-link' )%>
		<br><br>
		
		<div class="control-group">
			<%=f.label(:password, "Old Password", {class: 'control-label', for: 'inputOldPassword'})%>
			<div class="controls">
				<%=password_field_tag :password, nil, {class: 'input-large', id: 'inputFirstName'}%>
			</div>
		</div>
		
		<div class="control-group">
			<%=f.label(:password, "New Password", {class: 'control-label', for: 'inputNewPassword'})%>
			<div class="controls">
				<%=f.password_field :password, {class: 'input-large', id: 'inputNewPassword'}%>
			</div>
		</div>
		
		<div class="control-group">
			<%=f.label :password_confirmation, "Confirm New Password", {class: 'control-label', for: 'confirmNewPassword'}%>
			<div class="controls">
				<%=f.password_field :password_confirmation, {class: 'input-large', id: 'confirmNewPassword'}%>
			</div>
		</div>
		
		<br>
	<!--Submit and Cancel buttons-->
		<center>
		<%= submit_tag "Change Password", :class => "btn btn-primary" %>&nbsp;
		<%= link_to("Cancel",{:controller => 'profile', :action => 'show', :user_id => @user.id}, :class=> "btn") %>
		</center>
	<%end%>
</div>