<!--bar should be different for users not logged in-->

<% if @content.privacy == false %> <!--If the content is not public-->





<%else%> <!--else content is private-->
	
	<div class="row-fluid">
		<div class="span8"><!--MODAL LEFT-->
			<center>
			<%if @content.content_type=="Image"%>
			    <%if @content.link =="" %><!--if content is uploaded-->
				<%= image_tag @content.avatar.url %>
				<%else%><!--content is a link-->
				<%=image_tag @content.link%>
				<%end%>
			<%elsif @content.content_type=="Video"%>
				<%= raw(youtube_embed(@content.link))%>
			<%elsif @content.content_type=="Article"%>
				<%= raw(article_iframe(@content.link))%>
			<%end%>
			</center>
		</div> 
		<div class="span4"><!--MODAL RIGHT-->
		    	<div class="pull-right">
	                <!--PRIVACY-->
					<%=@content.flaggings.size%><i class="icon-arrow-up"></i><!--Show upvotes if public-->
					
				</div>									    
			<h3><%= @content.title %></h3><br>
	        <%if @content.description !="" %><div class="well"><%= @content.description %></div><% end %><!--only show note exists-->
	
			<!--TAGS-->
			<% if @content.tags.any? %>
			<span class="label">Tags</span>
			<% @content.tags.each do |tag| %>
			<%= link_to "#{tag.name}",{:action => 'tagged',:tag=>tag.name}%>
			<% end %>
			<br><br>
			<% end %>
	
			<!--SOURCE (only if content is linked)-->
				<%if @content.link !="" %>
				<div class ="input-prepend input-append">
					<span class ="add-on">Source</span>
					<input class="span8" id="prependedInput" type="text" value="<%=@content.link%>">
					<a href="<%=@content.link%>" target="_blank"><span class ="add-on">Open</span></a>   
				</div>
				<%end%>
				<br>	
				<!--add button-->
				<%= link_to '<div class="btn btn-info"><i class="icon-plus"></i>add</div>'.html_safe, {:controller => 'explore', :action => 'add', :id => @content.id}%>
				<!--share button-->
				<a class="btn btn-info" id="popover" data-toggle="popover" data-placement="top"><i class="icon-share"></i>&nbsp;share</a>
		</div>
	</div>
							

	

<%end%>
