<!--HERO BAR-->
<!-- <div class="hero-unit">
	<div class="row-fluid">
        <div class="span10">
        	<div class="pull-left"><%= image_tag @user.profpic.url%></div>
            <h1><%=@user.first_name+"  "+@user.last_name%></h1>
            <span class="label label-success">Thought leader</span><%= @user.quote %>
        </div>
        <div class="span2">
        	<i class="icon-chevron-up"></i> <%=@uptotal%>
        	<%if @user.thought_leader%>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-user"></i> <%=@user.followers.count%>	
				<%= link_to("#{@user.followers.count} Followers", {:action => 'followers', :id => session[:user_id],:class => 'followers-link'}) %>
			<%end%>
        	
        </div>
    </div>
</div> -->

<div class="hero-unit">
	<div class="row-fluid">
        <div class="span9">
        	<div class="pull-left"><%= image_tag @user.profpic.url%></div>
            <h1><%=@user.first_name+"  "+@user.last_name%></h1>
            <span class="label label-success">Thought leader</span><%= @user.quote %>
        </div>
        <div class="span3">
        	<div class="span6">
                <strong><%=@total_items%></strong> <%= "Item".pluralize(@total_items)%><br>
                <strong><%=@uptotal%></strong> <%= "Upvote".pluralize(@uptotal)%><br>
                <strong><%=@user.followers.count%></strong> Followers<br>
            </div>
            <div class="span6">
                <%= link_to '<i class="icon-wrench"></i> Edit profile'.html_safe, {:controller => 'settings', :action => 'settingspage'}, id: 'profile-btn', class: 'btn btn-danger'%><br>
                <!-- <a id="profile-btn" class="btn btn-danger" href="#"><i class="icon-wrench"></i> Edit profile</a><br> -->
                <!-- <a id="profile-btn" class="btn btn-danger" href="#"><i class="icon-plus-sign"></i> Following</a><br> -->
                <%= link_to '<i class="icon-plus-sign"></i>&nbsp;&nbsp;&nbsp;Following'.html_safe, {:action => 'following', :id => session[:user_id]}, id: 'profile-btn', class: 'btn btn-danger'%><br>
                <!-- <%= button_to raw("<i class='\icon-plus-sign\'> Following</i>"), {:action => 'following', :id => session[:user_id]} ,{:id => 'profile-btn', :class => 'btn btn-danger'} %> -->
                <%= link_to '<i class="icon-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Followers'.html_safe, {:action => 'followers', :id => session[:user_id]}, id: 'profile-btn', class: 'btn btn-danger'%><br>
                <!-- <a id="profile-btn" class="btn btn-danger" href="#"><i class="icon-user"></i> Followers</a> -->
        	</div>
        </div>
    </div>
</div>
<!--END HERO BAR-->

		<%@count=0%><!--count starts at 0 to create first row-fluid-->
		<% @contents.each do |content|%> <!--start loop-->
			<%if @count==0%><div class="row-fluid"><ul class="thumbnails"><%end%>
			<%=render :partial => "profileFeed", :locals => {:content => content} %>
			<%@count+=1%><!--increases with each piece of content-->
			<%if @count==4%></ul></div><!--if 4th pic then end row-fluid--><%@count=0%><%end%>
		<%end%>
		<%if @count!=4 && @count==(@contents.size%4)%></ul></div><%end%><!--If there isn't enough content to fill a page, must end row fluid anyway-->
		
<div class="pagination pagination-centered">
<%= will_paginate @contents %>
</div>