<% @page_title = "Show Content" %>

<%= link_to("<< Back to Happy Place", {:action => 'show', :user_id => @user.id}, :class => 'back-link') %>

<div class="content show">
  <h2>Show Section</h2>

  <table summary="content detail view">
    <tr>
      <th>Title</th>
      <td><%= @content.title %></td>
    </tr>
    <tr>
    <tr>
      <th>Content Type</th>
      <td><%= @content.content_type %></td>
    </tr>
    <tr>
      <th>Link</th>
      <td><%= @content.link %></td>
    </tr>
    <tr>
      <th>Note to Self</th>
      <td><%= @content.description %></td>
    </tr>
    <tr>
    	<th>Public</th>
      <td><%= @content.privacy %></td>
    </tr>
    <%if @content.content_type=="Image"%>
    <tr>
    	
    	<%= image_tag @content.avatar.url %>
    	
		<!--<%= image_tag @content.avatar.url(:medium) %>
		<%= image_tag @content.avatar.url(:thumb) %>-->
	</tr>
	<%end%>
  </table>
  
</div>