<!doctype html>
<html>
  <head>
  	<%= favicon_link_tag 'favicon.ico' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "OneDoorOpen" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "boostrap", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap-responsive", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "custom", :media => "all" %>
    
    
    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <%= yield(:head) %>
    
    <!-- Google Analytics -->
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-42181488-1']);
	_gaq.push(['_trackPageview']);
		
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
	
  </head>
  
  <body>
 	<% if params[:controller] != "access" && params[:controller]!= "manageusers"%>
 	 	<%= render(:partial => "shared/navbar")%>
 	<%end%>

    <!--<div id="main" role="main">-->
      <div class="container-fluid">
        <!-- <div class="content">
           <div class="row">
            <div class="span12"> -->
              <%= render 'layouts/messages' %>
              <%= yield %>
             <% if params[:controller] != "access" && params[:controller]!= "manageusers"%>
            	 <%=link_to("Log Out",{:controller => 'access',:action=>'logout'})%> 
             <%end%>
            <!-- </div>
          </div> -->
          
      </div> <!--! end of .container -->

 	<% if params[:controller] != "access"%>
 	 	<%= render(:partial => "shared/footer")%>
 	<%end%>      
        <!-- </div> -->
    <!--</div>--> <!--! end of #main -->


  </body>
</html>